.card
{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    // background-color: lighten(get-variant-color(primary), 41%); //#F7FAFC
    border-radius: $border-radius-small;
    box-shadow: get-shadow($card-shadow);
    overflow: hidden;

    &-header
    {
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        &:after
        {
            display: block;
            width: rem(40px);
            height: rem(2px);
            background-color: get-variant-color(primary);
            margin-left: 1rem;
            content: '';
        }

        &-title
        {
            display: flex;
            align-items: center;
            flex-grow: 1;
            padding: $card-header-padding;
            color: get-color(foreground);
            font-weight: $font-bold;
        }
    }

    &-content
    {
        padding: $card-content-padding;
        color: get-color(foreground-light);
    }

    &-footer
    {
        display: flex;
        align-items: stretch;
        border-top: 1px solid get-variant-color(secondary);

        &-item
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            padding: $card-footer-item-padding;

            &:not(:last-child)
            {
                border-right: 1px solid get-variant-color(secondary);
            }
        }
    }
}